<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h1>1111111111112
{{ content }}
222222222
444444444444
555555555555
666666666</h1>
<div id="_q682ttrsi3t" class="_q682ttrsi3t"></div>
<script type="text/javascript">
    (window.slotbydup = window.slotbydup || []).push({
    id: "u5990578",
    container: "_q682ttrsi3t",
    async: true
    });
</script>
<!-- 多条广告如下脚本只需引入一次 -->
<script type="text/javascript" src="https://cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></script>
</body>
</html>
