<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<form action="/login/" method="post">
    {% if  message %}
        <span style="background-color: blanchedalmond;">{{message}}</span><br/>
    {% endif %}
{% csrf_token %}
广告配置后台<br/>
用户名：<input type="text" name="username"><br/>
密&nbsp;&nbsp;码：<input type="password" name="password"><br/>
<input type="submit" value="登录" name="login_button">
<input type="button" value="注册" name="register_button">
</form>
username:{{username}}
</body>
</html>
